table {
  width: 100%;
  border-collapse: collapse;
  font-family: sans-serif;
}

thead {
  background-color: #f2f2f2;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  border-bottom: 2px solid #ddd;
}

td:last-child {
  text-align: center;
}

button {
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  margin: 0 5px;
}

.edit-btn {
  background-color: #4CAF50;
  color: white;
}

.delete-btn {
  background-color: #f44336;
  color: white;
}

.add-btn {
  background-color: #2abb11;
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  margin: 0 5px;
}

.tbl {
  margin-top: 20px;
}
